<div class="page-header">
    <h2>Editing mail</h2>
</div>

<%= render 'form' %>

<div class="more_actions">
	<%= link_to 'Show', @mail, :class => 'btn' %>
	<%= link_to 'Back', mails_path, :class => 'btn' %>
</div>